.address {
  max-width: 195px;
  font-size: 16px;
  font-weight: 500;
  color: $black-color;
}

.logo {
  max-width: 296px;
  display: block;
  text-align: center;

  &__picture, &__img {
    max-width: 220px;
  }

  &__img-label {
    margin-top: 14px;
    display: block;
    font-size: 12px;
    font-weight: 600;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__days, &__time {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: $black-color;
  }

  &__phone {
  margin-top: 6px;
  }
}

.phone {
  @include fluidSize(16px, 24px, 320px, $content-width, 'font-size');

  display: inline-block;
  font-weight: 700;
}

.email {
  font-size: 16px;
  font-weight: 600;
  color: $black-color;
}

.social {
  @include flex-v-center;

  &__item {
    @include fluidSize(30px, 42px, 320px, $content-width, 'width');
    @include fluidSize(30px, 42px, 320px, $content-width, 'height');
    @include mr(12px);

    background-color: $yellow-color;
    border-radius: 100%;

    @include hover {
      .social__item-link {
        transform: rotate(360deg);
      }
    }
  }

  &__item-link {
    @include flex-all-center;

    width: 100%;
    height: 100%;
    transition: all ease-in .5s;
  }

}

.nav {
  height: 100%;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;

  @include breakpoint($brp-1024) {
    @include flex-v-center;

    flex-direction: row;
    padding-top: unset;
  }

  &__icon {
    width: 50px;
    height: 60px;
    fill: transparent;
    stroke: $white-color;

    @include breakpoint($brp-1024) {
      width: 18px;
      height: 20px;
    }
  }

  &__item {
    @include mb(30px);

    &--home {
      margin-bottom: 20px;
    }

    &--sub {
      position: relative;
      z-index: 600;

      &:before {
        @include pseudo;
        position: absolute;
        width: 0;
        height: 0;
        top: 8px;
        right: -16px;
        border-style: solid;
        border-width: 6px 4px 0 4px;
        border-color: #ffffff transparent transparent transparent;
        transition: all ease-out .4s;
      }
    }

    @include breakpoint($brp-1024) {
      @include mr(22px);
      @include mb(0);

      &--home {
        margin-bottom: unset;
      }

      &--sub {
        @include hover {
          &:before {
            transform:rotate(-90deg);
          }

          .sub-list {
            transform: scale(1);
            overflow-y: scroll;
          }
        }
      }
    }

    @include breakpoint($brp-1200) {
      @include mr(36px);
    }
  }

  &__link {
    display: block;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: $white-color;
    text-transform: uppercase;
    transition: all ease-in .2s;

    @include breakpoint($brp-1024) {
      display: inline-block;
      font-size: 14px;
      text-align: unset;
    }

    @include breakpoint($brp-1200) {
      font-size: 16px;
    }

    @include hover {
      color: $yellow-color;
    }

    &--icon {
      @include flex-all-center;
    }
  }

}

.sub-list {
  display: none;
  flex-direction: column;
  align-items: center;
  transition: all ease-in .4s;

  &--active {
    display: flex;
  }

  &__link {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: $white-color;
    text-transform: uppercase;

    @include breakpoint($brp-1024) {
      font-size: 14px;
    }

    @include breakpoint($brp-1200) {
      font-size: 16px;
    }

    @include hover {
      color: $yellow-color;
      transition: all ease-in .2s;
    }
  }

  @include breakpoint($brp-1024) {
    padding-bottom: 10px;
    display: block;
    width: 200px;
    max-height: 300px;
    overflow: hidden;
    transform-origin: top center;
    transform: scale(1,0);
    position: absolute;
    top: 34px;
    left: -50%;
    background-color: $brand-color;
    border-radius: 10px;
    box-shadow: 6px 9px 22px -3px rgba($brand-color, 0.3);
    transition: all 0.5s;
    z-index: 200;

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color: #d1d1d1;
    }

    &__item {
      @include mb(10px);

      padding: 0 20px;

      &:first-child {
        padding-top: 20px;
      }
    }
  }
}

.close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 34px;
  left: 20px;

  &__line {
    display: block;
    width: 4px;
    height: 40px;
    border-radius: 3px;
    background-color: $white-color;

    &:first-child, &:last-child {
      position: absolute;
      top: 0;
      left: 14px;
      transform: rotate(-45deg);
    }

    &:last-child {
      transform: rotate(45deg);
    }
  }

  @include breakpoint($brp-1024) {
    display: none;
  }
}

.curzr {
  display: none;

  @include breakpoint($brp-1024) {
    display: block;
  }
}
















