.header {
  padding-top: 20px;
  background-color: $white-color;

  &__top {
    @include flex-all-sb;

    padding-bottom: 20px;
  }

  &__bottom {
    padding: 8px 0;
    background-color: $brand-color;
  }

  &__bottom-container {
    @include flex-all-sb;
    background-color: $brand-color;
  }
}



