.hero {
  @include fluidSize(30px, 80px, 320px, $content-width, 'padding-top');
  @include fluidSize(30px, 80px, 320px, $content-width, 'padding-bottom');
  @include image-set('../img/hero-image');

  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &:before {
    @include pseudo;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($brand-color, 0.6);
  }

  @include breakpoint($brp-1024) {
    background: unset;
    &:before {
      display: none;
    }
  }

  &__content {
    text-align: center;

    @include breakpoint($brp-1024) {
      padding-left: 10px;
      max-width: 450px;
      text-align: unset;
    }
  }

  &__title, &__subtitle, &__description {
    color: $white-color;
  }

  &__title {
    margin-bottom: 20px;

    @include breakpoint($brp-1024) {
      color: currentColor;
    }
  }

  &__subtitle {
    margin-bottom: 20px;

    strong {
      position: relative;
      padding-bottom: 10px;
      font-weight: 700;

      &:before {
        @include pseudo;
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $white-color;
      }
    }

    @include breakpoint($brp-1024) {
      color: $brand-color;

      strong {
        &:before {
          background-color: $brand-color;
        }
      }
    }
  }

  &__text {
    margin-bottom: 30px;
  }

  &__description {
    @include mb(16px);

    font-size: 16px;
    font-weight: 500;

    @include breakpoint($brp-1024) {
      @include mb(36px);

      color: currentColor;
    }
  }
}

.hero-left, .hero-right {
  display: none;
  height: 100%;
  position: absolute;
  top: 0;

  @include breakpoint($brp-1024) {
    display: block;
  }
}

.hero-left {
  @include  breakpoint($brp-1024) {
    width: 48%;
    left: 0;
    background-color: $white-color;
    z-index: -1;
  }
}

.hero-right {
  @include breakpoint($brp-1024) {
    @include image-set('../img/hero-image');

    right: 0;
    background-color: $white-color;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }

}
