.join-form {

  @include breakpoint($brp-768) {
    margin: 0 auto;
    width: 80%;
  }

  @include breakpoint($brp-1024) {
    margin: 0 auto;
    width: 60%;
  }

  &__inner {
    min-height: 54px;
    display: flex;
    position: relative;
    border-radius: 100px;
  }

  &__label {
    display: block;
    width: 72%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }

  &__input {
    @include fluidSize(14px, 18px, 320px, $content-width, 'font-size');

    display: block;
    padding: 16px 30px;
    font-weight: 500;
    width: 100%;
    height: 100%;
    color: #4b4b4b;
    background-color: $input-bg;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border: 3px solid transparent;
    outline: none;
    transition: all ease-out .4s;

    &:active, &:focus {
      border-color: $brand-color;
    }

    &::placeholder {
      @include fluidSize(14px, 18px, 320px, $content-width, 'font-size');
      font-weight: 500;
      color: #4b4b4b;
    }
  }

  &__submit {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32%;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 20;
  }
}
