.favorites {
  @include fluidSize(20px, 60px, 320px, $content-width, 'padding-top');
  @include fluidSize(40px, 80px, 320px, $content-width, 'padding-bottom');

  background-color: $white-color;

  &__container {
    position: relative;
  }

  &__title {
    @include fluidSize(15px, 50px, 320px, $content-width, 'margin-bottom');

    text-align: center;
    color: $second-black-color;
  }

  &__btn-prev, &__btn-next {
    position: absolute;
    top: 60%;

    svg {
      width: 16px;
      height: 27px;
      fill: #afafaf;
    }

    &.swiper-button-disabled {
      svg {
        fill: $black-color;
        opacity: 0.1;
      }
    }
  }

  &__btn-prev {
    left: -24px;
  }

  &__btn-next {
    right: -24px;
  }
}

