.favorites {
  @include fluidSize(20px, 60px, 320px, $content-width, 'padding-top');
  padding-bottom: 60px;

  background-color: $white-color;

  @include breakpoint($brp-1024) {
    padding-bottom: 80px;
  }

  &__container {
    position: relative;
  }

  &__title {
    @include fluidSize(15px, 50px, 320px, $content-width, 'margin-bottom');

    text-align: center;
    color: $second-black-color;
  }

  &__btn-prev, &__btn-next {
    position: absolute;
    bottom: -16%;

    svg {
      width: 16px;
      height: 27px;
      fill: #afafaf;
    }

    &.swiper-button-disabled {
      svg {
        fill: $black-color;
        opacity: 0.1;
      }
    }

    @include breakpoint($brp-1280) {
      top: 60%;
      bottom: unset;
    }
  }

  &__btn-prev {
    left: 40%;

    @include breakpoint($brp-1280) {
      left: -24px;
    }
  }

  &__btn-next {
    right: 40%;

    @include breakpoint($brp-1280) {
      right: -24px;
    }
  }
}

