.presentation {
  @include fluidSize(30px, 90px, 320px, $content-width, 'padding-top');
  @include fluidSize(30px, 90px, 320px, $content-width, 'padding-bottom');
  @include image-set('../img/presentation-bg');

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  &__container {
    @include breakpoint($brp-1024) {
      @include flex-all-sb;
    }
  }

  &__column {
    &--content {
      margin-bottom: 20px;
      text-align: center;
    }

    @include  breakpoint($brp-1024) {
      width: 48%;

      &--content {
        margin-bottom: unset;
        padding-right: 30px;
        text-align: unset;
      }
    }
  }

  &__title {
    @include fluidSize(15px, 25px, 320px, $content-width, 'margin-bottom');
  }

  &__description {
    @include mb(20px);
    @include fluidSize(14px, 18px, 320px, $content-width, 'font-size');
    color: $white-color;

    strong {
      @include fluidSize(18px, 24px, 320px, $content-width, 'font-size');

      text-transform: uppercase;
      color: $yellow-color;
    }

    @include breakpoint($brp-1024) {
      @include mb(40px);
    }
  }

  &__text {
    margin: 0 auto 20px auto;

    @include breakpoint($brp-768) {
      max-width: 70%;
    }

    @include breakpoint($brp-1024) {
      max-width: 100%;
      margin: 0 0 40px 0;
    }
  }
}

.video-block {
  @include fluidSize(200px, 335px, 320px, $content-width, 'height');
  @include fluidSize(6px, 20px, 320px, $content-width, 'border-width');

  position: relative;
  border-style: solid;
  border-color: $white-color;
  overflow: hidden;

  @include hover {
    .video-block__play {
      border-color: transparent transparent transparent $black-color;
    }
  }

  @include breakpoint($brp-768) {

  }

  &__over-image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 20;
    transition: all 0.6s cubic-bezier(0.6, 0, 0.4, 1);

    &--active {
      opacity: 0;
      transform: scale(.2);
    }
  }

  &__preview {
    @include fluidSize(200px, 335px, 320px, $content-width, 'height');

    position: absolute;
    min-width: 100%;
    object-fit: fill;
    transform: scale(.2);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.6, 0, 0.4, 1);
    pointer-events: none;
    z-index: 40;

    &--active {
      opacity: 1;
      transform: scale(1);
      pointer-events: auto;
    }
  }

  &__play {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-width: 24px 0 24px 38px;
    border-color: transparent transparent transparent $white-color;
    transform: translate(-50%, -50%);
    z-index: 30;
    transition: all 0.7s cubic-bezier(0.6, 0, 0.4, 1);

    &--active {
      opacity: 0;
      border-width: 0 0 0 0;
    }
  }
}
