<section class="favorites">
  <div class="container favorites__container">
      <h2 class="title-m favorites__title">
        Some of Our Tree Favorites
      </h2>
    <div class="swiper favorites-slider">
      <div class="swiper-wrapper favorites-slider__wrapper">
        <div class="swiper-slide favorites-slider__slide">
        <div class="favorites-card">
          <img loading="lazy" src="img/favorites-1.png" class="favorites-card__img" alt="Live Oak">
          <h3 class="favorites-card__title">
            Live Oak
          </h3>
          <p class="favorites-card__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut labore et dolore magna aliqua.
          </p>
          <div class="favorites-card__bottom">
            <div class="favorites-card__price-inner">
                  <span class="favorites-card__label">
                    Price :
                  </span>
              <span class="favorites-card__price">
                    200$
                  </span>
            </div>
            <a class="btn btn--main favorites-card__link" href="#">learn more</a>
          </div>
        </div>
      </div>
        <div class="swiper-slide favorites-slider__slide">
          <div class="favorites-card">
            <img loading="lazy" src="img/favorites-2.png" class="favorites-card__img" alt="Live Oak">
            <h3 class="favorites-card__title">
              Chinese Pistache
            </h3>
            <p class="favorites-card__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut labore et dolore magna aliqua.
            </p>
            <div class="favorites-card__bottom">
              <div class="favorites-card__price-inner">
                  <span class="favorites-card__label">
                    Price :
                  </span>
                <span class="favorites-card__price">
                    300$
                  </span>
              </div>
              <a class="btn btn--main favorites-card__link" href="#">learn more</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide favorites-slider__slide">
          <div class="favorites-card">
            <img loading="lazy" src="img/favorites-3.png" class="favorites-card__img" alt="Live Oak">
            <h3 class="favorites-card__title">
              Celdar Elm
            </h3>
            <p class="favorites-card__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut labore et dolore magna aliqua.
            </p>
            <div class="favorites-card__bottom">
              <div class="favorites-card__price-inner">
                  <span class="favorites-card__label">
                    Price :
                  </span>
                <span class="favorites-card__price">
                    400$
                  </span>
              </div>
              <a class="btn btn--main favorites-card__link" href="#">learn more</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide favorites-slider__slide">
          <div class="favorites-card">
            <img loading="lazy" src="img/favorites-4.png" class="favorites-card__img" alt="Live Oak">
            <h3 class="favorites-card__title">
              Red Oak
            </h3>
            <p class="favorites-card__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut labore et dolore magna aliqua.
            </p>
            <div class="favorites-card__bottom">
              <div class="favorites-card__price-inner">
                  <span class="favorites-card__label">
                    Price :
                  </span>
                <span class="favorites-card__price">
                    250$
                  </span>
              </div>
              <a class="btn btn--main favorites-card__link" href="#">learn more</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide favorites-slider__slide">
          <div class="favorites-card">
            <img loading="lazy" src="img/favorites-3.png" class="favorites-card__img" alt="Live Oak">
            <h3 class="favorites-card__title">
              Celdar Elm
            </h3>
            <p class="favorites-card__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut labore et dolore magna aliqua.
            </p>
            <div class="favorites-card__bottom">
              <div class="favorites-card__price-inner">
                  <span class="favorites-card__label">
                    Price :
                  </span>
                <span class="favorites-card__price">
                    400$
                  </span>
              </div>
              <a class="btn btn--main favorites-card__link" href="#">learn more</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide favorites-slider__slide">
          <div class="favorites-card">
            <img loading="lazy" src="img/favorites-4.png" class="favorites-card__img" alt="Live Oak">
            <h3 class="favorites-card__title">
              Red Oak
            </h3>
            <p class="favorites-card__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut labore et dolore magna aliqua.
            </p>
            <div class="favorites-card__bottom">
              <div class="favorites-card__price-inner">
                  <span class="favorites-card__label">
                    Price :
                  </span>
                <span class="favorites-card__price">
                    250$
                  </span>
              </div>
              <a class="btn btn--main favorites-card__link" href="#">learn more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev favorites-slider__btn--prev"></div>
      <div class="swiper-button-next favorites-slider__btn--next"></div>
    </div>
  </div>
</section>
