<section class="favorites">
  <div class="container favorites__container">
    <div class="favorites__top">
      <h2 class="title-m favorites__title">
        Some of Our Tree Favorites
      </h2>
    </div>
    <div class="swiper favorites-slider">
      <div class="swiper-wrapper favorites-slider__wrapper">
        <div class="swiper-slide favorites-slider__slider">
          <div class="favorites-card">
            <img loading="lazy" src="img/favorites-1.png" class="favorites-slider__img" alt="Live Oak">
              <h3 class="favorites-card__title">
                Live Oak
              </h3>
              <p class="favorites-card__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut labore et dolore magna aliqua.
              </p>
              <div class="favorites-card__bottom">
                <div class="favorites-card__price-inner">
                  <span class="favorites-card__label">
                    Price :
                  </span>
                  <span class="favorites-card__price">
                    200$
                  </span>
                </div>
                <a class="btn btn--main favorites-card__link" href="#">learn more</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
