<footer class="footer">
  <div class="container footer__container">
    <h2 class="footer__title visually-hidden">Footer Info </h2>
    <div class="footer__main">
      <div class="footer__item">
        <h3 class="title-xs footer__item-title">
          HOURS & LOCATION
        </h3>
        <span class="address footer__address">
          2317 Fort Worth Hwy
          Weatherford, Texas 76087
        </span>
        <div class="footer-info">
        <span class="footer-info__time">
          Mon-Sat: 9 AM – 5 PM
        </span>
          <span class="footer-info__text">
          Closed Sunday
        </span>
        </div>
      </div>
      <div class="footer__item">
        <h3 class="title-xs footer__item-title">
          JUDY’S RECENT POSTS
        </h3>
        <ul class="footer-list">
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">
              Native trees and shrubs for Bluebirds
            </a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">
              Fun with Tillandsias, or air plants
            </a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">
              Fall is an Ideal Time to Plant Trees
            </a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">
              Drought Tolerant Plants
            </a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">
              Urban sprawl and deer-resistant plants
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <h3 class="title-xs footer__item-title">
          MENU
        </h3>
        <ul class="footer-list">
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Home</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Judy’s Journal</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Shop Online</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Get Financing</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="footer__item footer__item--flex footer__item--right">
        <h3 class="title-xs footer__item-title">
          CONTACT
        </h3>
        <div class="footer__contact">
          <a class="phone footer__phone" href="tel:+8175960003">
            817-596-0003
          </a>
          <a class="email footer__email"  href="mailto:info@stuartnursery.com">
            info@stuartnursery.com
          </a>
        </div>
        <ul class="social footer__social">
          <li class="social__item footer__social-item">
            <a class="social__item-link footer__social-link" href="#">
              <svg width="10" height="20" viewBox="0 0 10 20" fill="none">
                <path d="M2.35069 3.87347C2.35069 4.37747 2.35069 6.62706 2.35069 6.62706H0.333313V9.99417H2.35069V20H6.49481V9.99445H9.27571C9.27571 9.99445 9.53615 8.37995 9.6624 6.61465C9.30045 6.61465 6.51048 6.61465 6.51048 6.61465C6.51048 6.61465 6.51048 4.65577 6.51048 4.31242C6.51048 3.96833 6.96232 3.50547 7.4089 3.50547C7.85464 3.50547 8.79542 3.50547 9.66677 3.50547C9.66677 3.04704 9.66677 1.46304 9.66677 0.000122082C8.50354 0.000122082 7.18017 0.000122082 6.59683 0.000122082C2.24825 -0.000110414 2.35069 3.37035 2.35069 3.87347Z" fill="white"/>
              </svg>
            </a>
          </li>
          <li class="social__item footer__social-item">
            <a class="social__item-link footer__social-link" href="#">
              <svg width="20" height="18" viewBox="0 0 20 18" fill="none">
                <path d="M0.353381 8.64309L4.96178 10.3631L6.74551 16.0996C6.85965 16.467 7.30891 16.6028 7.60711 16.359L10.1759 14.2648C10.4452 14.0454 10.8287 14.0345 11.1101 14.2388L15.7433 17.6026C16.0623 17.8344 16.5142 17.6596 16.5942 17.2742L19.9883 0.948088C20.0756 0.527021 19.6619 0.175755 19.261 0.330821L0.347981 7.62689C-0.118752 7.80689 -0.114686 8.46769 0.353381 8.64309ZM6.45805 9.44749L15.4646 3.90035C15.6264 3.80095 15.793 4.01982 15.654 4.14875L8.22098 11.0581C7.95971 11.3013 7.79118 11.6268 7.74345 11.98L7.49025 13.8564C7.45671 14.107 7.10478 14.1318 7.03565 13.8894L6.06185 10.4677C5.95031 10.0774 6.11285 9.66055 6.45805 9.44749Z" fill="white"/>
              </svg>
            </a>
          </li>
          <li class="social__item footer__social-item">
            <a class="social__item-link footer__social-link" href="#">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                <g clip-path="url(#clip0_1_153)">
                  <rect width="20" height="20" fill="#FFD401"/>
                  <path d="M14.5862 0H5.41381C2.42858 0 0 2.42858 0 5.41381V14.5863C0 17.5714 2.42858 20 5.41381 20H14.5863C17.5714 20 20 17.5714 20 14.5863V5.41381C20 2.42858 17.5714 0 14.5862 0V0ZM9.99998 15.4686C6.98454 15.4686 4.53139 13.0154 4.53139 9.99998C4.53139 6.98454 6.98454 4.53139 9.99998 4.53139C13.0154 4.53139 15.4686 6.98454 15.4686 9.99998C15.4686 13.0154 13.0154 15.4686 9.99998 15.4686V15.4686ZM15.5993 5.82106C14.7082 5.82106 13.9834 5.09627 13.9834 4.20516C13.9834 3.31405 14.7082 2.58911 15.5993 2.58911C16.4904 2.58911 17.2154 3.31405 17.2154 4.20516C17.2154 5.09627 16.4904 5.82106 15.5993 5.82106Z" fill="white"/>
                  <path d="M10 6C7.79449 6 6 7.79435 6 10C6 12.2055 7.79449 14 10 14C12.2056 14 14 12.2055 14 10C14 7.79435 12.2056 6 10 6V6Z" fill="white"/>
                  <path d="M15.5994 3.76172C15.3549 3.76172 15.1559 3.96069 15.1559 4.20514C15.1559 4.44958 15.3549 4.64856 15.5994 4.64856C15.844 4.64856 16.0429 4.44974 16.0429 4.20514C16.0429 3.96054 15.844 3.76172 15.5994 3.76172Z" fill="white"/>
                </g>
                <defs>
                  <clipPath id="clip0_1_153">
                    <rect width="20" height="20" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container footer__bottom-container">
      <p class="footer__copy">
        Copyright © 2020 Stuart Nursery
      </p>
      <ul class="info-list footer__info-list">
        <li class="info-list__item">
          <a class="info-list__item-link" href="#">
            Terms of Use
          </a>
        </li>
        <li class="info-list__item">
          <a class="info-list__item-link" href="#">
            Privacy Policy
          </a>
        </li>
        <li class="info-list__item">
          <a class="info-list__item-link" href="#">
            Site Map
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
