<footer class="footer">
  <div class="container footer__container">
    <h2 class="footer__title visually-hidden">Footer Info </h2>
    <div class="footer__main">
      <div class="footer__item">
        <h3 class="title-s footer__item-title">
          HOURS & LOCATION
        </h3>
        <span class="address footer__address">
        2317 Fort Worth Hwy
        Weatherford, Texas 76087
      </span>
        <div class="footer-info">
        <span class="footer-info__time">
          Mon-Sat: 9 AM – 5 PM
        </span>
          <span class="footer-info__text">
          Closed Sunday
        </span>
        </div>
      </div>
      <div class="footer__item">
        <h3 class="title-s footer__item-title">
          JUDY’S RECENT POSTS
        </h3>
        <ul class="footer-list">
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">
              Native trees and shrubs for Bluebirds
            </a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">
              Fun with Tillandsias, or air plants
            </a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">
              Fall is an Ideal Time to Plant Trees
            </a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">
              Drought Tolerant Plants
            </a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">
              Urban sprawl and deer-resistant plants
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <h3 class="title-s footer__item-title">
          MENU
        </h3>
        <ul class="footer-list">
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Home</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Judy’s Journal</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Shop Online</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Get Financing</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <h3 class="title-s footer__item-title">
          CONTACT
        </h3>
        <div class="footer__contact">
          <a class="phone footer__phone" href="tel:+8175960003">
            817-596-0003
          </a>
          <a class="email footer__email"  href="mailto:info@stuartnursery.com">
            info@stuartnursery.com
          </a>
        </div>
        <ul class="social footer__social">
          <li class="social__item footer__social-item">
            <a class="social__item-link footer__social-link" href="#">
              <svg class="social__item-icon footer__social-icon footer__social-icon--facebook">
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social__item footer__social-item">
            <a class="social__item-link footer__social-link" href="#">
              <svg class="social__item-icon footer__social-icon footer__social-icon--telegram">
                <use xlink:href="img/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item footer__social-item">
            <a class="social__item-link footer__social-link" href="#">
              <svg class="social__item-icon footer__social-icon footer__social-icon--insta">
                <use xlink:href="img/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__copy">
        Copyright © 2020 Stuart Nursery
      </p>
      <ul class="info-list footer__info-list">
        <li class="info-list__item">
          <a class="info-list__item-link" href="#">
            Terms of Use
          </a>
        </li>
        <li class="info-list__item">
          <a class="info-list__item-link" href="#">
            Privacy Policy
          </a>
        </li>
        <li class="info-list__item">
          <a class="info-list__item-link" href="#">
            Site Map
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
