<header class="header">
  <div class="container header__container">
    <div class="header__top">
      <button class="burger" type="button" data-burger>
        <span class="burger__line"></span>
      </button>
      <span class="address header__address">
        2317 Fort Worth Hwy
        Weatherford, Texas 76087
      </span>
      <div class="info-emblem">
        <a class="logo" href="#">
          <picture class="logo__picture">
            <source srcset="img/logo.avif" type="image/avif">
            <source srcset="img/logo.webp" type="image/webp">
            <img class="logo__img" loading="lazy" src="img/logo.png" alt="logo image">
          </picture>
          <span class="logo__img-label">
            WE SPECIALIZE IN TREE SALES & INSTALLATION
          </span>
        </a>
      </div>
      <div class="info header__info">
        <span class="info__days">
          Open Monday-Saturday
        </span>
        <span class="info__time">
          9 AM – 5 PM
        </span>
        <a class="phone info__phone" href="tel:+8175960003">
          817-596-0003
        </a>
      </div>
    </div>
  </div>
  <div class="header__bottom" data-menu>
    <button class="close btn-reset" type="button" data-close>
      <span class="close__line"></span>
      <span class="close__line"></span>
    </button>
    <div class="container header__bottom-container">
      <nav class="nav header__nav">
        <ul class="nav-list header__nav-list">
          <li class="nav-list__item nav-list__item--home">
            <a class="nav-list__link nav-list__link--icon" href="#">
              <svg class="nav-list__icon">
                <use xlink:href="img/sprite.svg#home"></use>
              </svg>
            </a>
          </li>
          <li class="nav-list__item nav-list__item--sub" data-sub-open>
            <a class="nav-list__link" href="#">
              Our Trees
            </a>
            <ul class="sub-list header__sub-list" data-sub-menu>
              <li class="sub-list__item">
                <a class="sub-list__link" href="#">
                  Live Oak
                </a>
              </li>
              <li class="sub-list__item">
                <a class="sub-list__link" href="#">
                  Chinese Pistache
                </a>
              </li>
              <li class="sub-list__item">
                <a class="sub-list__link" href="#">
                  Celdar Elm
                </a>
              </li>
              <li class="sub-list__item">
                <a class="sub-list__link" href="#">
                  Live Oak
                </a>
              </li>
              <li class="sub-list__item">
                <a class="sub-list__link" href="#">
                  Chinese Pistache
                </a>
              </li>
              <li class="sub-list__item">
                <a class="sub-list__link" href="#">
                  Celdar Elm
                </a>
              </li>
              <li class="sub-list__item">
                <a class="sub-list__link" href="#">
                  Live Oak
                </a>
              </li>
              <li class="sub-list__item">
                <a class="sub-list__link" href="#">
                  Chinese Pistache
                </a>
              </li>
              <li class="sub-list__item">
                <a class="sub-list__link" href="#">
                  Celdar Elm
                </a>
              </li>
              <li class="sub-list__item">
                <a class="sub-list__link" href="#">
                  Live Oak
                </a>
              </li>
              <li class="sub-list__item">
                <a class="sub-list__link" href="#">
                  Chinese Pistache
                </a>
              </li>
              <li class="sub-list__item">
                <a class="sub-list__link" href="#">
                  Celdar Elm
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="#">
              Flowers
            </a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="#">
              Shrubs
            </a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="#">
              Herbs
            </a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="#">
              Fertilizer
            </a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="#">
              Soil & Admendments
            </a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="#">
                Contact Us
            </a>
          </li>
        </ul>
      </nav>
      <a class="btn btn-reset header__btn" href="#">
        Request a Quote
      </a>
    </div>
  </div>
</header>
