<section class="hero">
  <div class="hero-left" data-hero="left"></div>
  <div class="container hero__container">
    <div class="hero__content" data-hero="split">
      <h1 class="title-xl hero__title">
        Quality Trees, Shrubs and More
      </h1>
      <p class="subtitle hero__subtitle">
        Family Owned
        <strong>
          Since 1945
        </strong>
      </p>
      <div class="hero__text">
        <p class="hero__description">
          <strong>Stuart Nursery</strong> provides quality tree sales and installation services to Parker and surrounding counties. We specialize in Texas native plants for your residence, office or ranch.
        </p>
        <p class="hero__description">
          Stop by and see our tremendous selection of native and traditional
          plants or consult with one of our landscape experts.
        </p>
      </div>
      <a class="btn btn--main hero__btn" href="#">Request a Quote</a>
    </div>
  </div>
  <div class="hero-right" data-hero="right"></div>
</section>
