<section class="join">
  <div class="container join__container">
    <h2 class="title-m join__title">
      Enjoy our <strong>promotions, discounts and tips</strong> when you join our mailing list
    </h2>
    <form class="join-form" action="#">
      <div class="join-form__inner">
        <label class="join-form__label">
          <input class="join-form__input input-reset" placeholder="Enter Your Email" type="email" required>
        </label>
        <button class="btn join-form__submit btn-reset" type="submit">join the list</button>
      </div>
    </form>
  </div>
</section>
