<section class="review">
  <div class="container review__container">
    <h2 class="title visually-hidden">Reviews</h2>
    <div class="review__btn-prev">
      <svg class="review__btn-icon">
        <use xlink:href="img/sprite.svg#left-btn-slider"></use>
      </svg>
    </div>
    <div class="review__btn-next">
      <svg class="review__btn-icon">
        <use xlink:href="img/sprite.svg#right-btn-slider"></use>
      </svg>
    </div>
    <div class="swiper review-slider">
      <div class="swiper-wrapper review-slider__wrapper">
        <div class="swiper-slide review-slider__slide">
          <div class="review-item">
            <div class="review-item__profile">
               <span class="review-item__icon-inner">
                 <svg class="review-item__icon">
                  <use xlink:href="img/sprite.svg#user-icon"></use>
                 </svg>
               </span>
              <div class="review-item__profile-info">
                <p class="review-item__profile-name">
                  Dr. Cameron Brown
                </p>
                <div class="review-item__rating">
                  <span class="rating-star">
                    <svg class="review-item__icon">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </span>
                  <span class="rating-star">
                    <svg class="review-item__icon">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </span>
                  <span class="rating-star">
                    <svg class="review-item__icon">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </span>
                  <span class="rating-star">
                    <svg class="review-item__icon">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </span>
                  <span class="rating-star">
                    <svg class="review-item__icon">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </span>
                </div>
              </div>
            </div>
            <p class="review-item__text">
              Heather was so helpful and answered all of my questions. She is so professional and
              gave me the best customer service I have ever received at a retail nursery.
              She immediately greeted me upon my arrival and made me feel welcome without being pushy.
              She seems to really love her job and this positively impacts her customers.
            </p>
          </div>
        </div>
        <div class="swiper-slide review-slider__slide">
          <div class="review-item">
            <div class="review-item__profile">
               <span class="review-item__icon-inner">
                 <svg class="review-item__icon">
                  <use xlink:href="img/sprite.svg#user-icon"></use>
                 </svg>
               </span>
              <div class="review-item__profile-info">
                <p class="review-item__profile-name">
                  Lewis Hamilton
                </p>
                <div class="review-item__rating">
                  <span class="rating-star">
                    <svg class="review-item__icon">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </span>
                  <span class="rating-star">
                    <svg class="review-item__icon">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </span>
                  <span class="rating-star">
                    <svg class="review-item__icon">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </span>
                  <span class="rating-star">
                    <svg class="review-item__icon">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </span>
                  <span class="rating-star">
                    <svg class="review-item__icon">
                      <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                  </span>
                </div>
              </div>
            </div>
            <p class="review-item__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti id, impedit iste iure numquam pariatur quo repudiandae sint velit voluptatem.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
