<div class="review">
  <div class="container review__container">
    <div class="review__button-prev"></div>
    <div class="review__button-next"></div>
    <div class="swiper review-slider">
      <div class="swiper-wrapper review-slider__wrapper">
        <div class="swiper-slide review-slider__slide">
          <div class="review-item">
            <div class="review-item__profile">
               <span class="review-item__icon-inner">
                 <svg class="review-item__icon">
                  <use xlink:href="img/sprite.svg#user-icon"></use>
                 </svg>
               </span>
              <div class="review-item__profile-info">
                <p class="review-item__profile-nam">
                  Dr. Cameron Brown
                </p>
                <div class="review-item__rating">
                  <div class="rating-star"></div>
                  <div class="rating-star"></div>
                </div>
              </div>
            </div>
            <p class="review-item__text">
              Heather was so helpful and answered all of my questions. She is so professional and
              gave me the best customer service I have ever received at a retail nursery.
              She immediately greeted me upon my arrival and made me feel welcome without being pushy.
              She seems to really love her job and this positively impacts her customers.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
