<section class="services">
  <div class="container services__container">
    <div class="services__top">
      <h2 class="title-l services__title">Our Services</h2>
      <p class="services__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
    <ul class="services-list">
      <li class="services-list__item">
        <div class="services-list__item-inner">
          <picture>
            <source srcset="img/service-1.avif" type="image/avif">
            <source srcset="img/service-1.webp" type="image/webp">
            <img loading="lazy" src="img/service-1.jpg" class="services-list__img" alt="Three">
          </picture>
        </div>
        <a class="services-list__item-bottom" href="#">
          <h3 class="title-s services-list__item-title">
            Tree Sales
          </h3>
          <svg class="services-list__item-icon">
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </a>
      </li>
      <li class="services-list__item">
        <div class="services-list__item-inner">
          <picture>
            <source srcset="img/service-2.avif" type="image/avif">
            <source srcset="img/service-2.webp" type="image/webp">
            <img loading="lazy" src="img/service-2.jpg" class="services-list__img" alt="Flowers">
          </picture>
        </div>
        <a class="services-list__item-bottom" href="#">
          <h3 class="title-s services-list__item-title">
            Flowers
          </h3>
          <svg class="services-list__item-icon">
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </a>
      </li>
      <li class="services-list__item">
        <div class="services-list__item-inner">
          <picture>
            <source srcset="img/service-3.avif" type="image/avif">
            <source srcset="img/service-3.webp" type="image/webp">
            <img loading="lazy" src="img/service-3.jpg" class="services-list__img" alt="Shrubs">
          </picture>
        </div>
        <a class="services-list__item-bottom" href="#">
          <h3 class="title-s services-list__item-title">
            Shrubs
          </h3>
          <svg class="services-list__item-icon">
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </a>
      </li>
      <li class="services-list__item">
        <div class="services-list__item-inner">
          <picture>
            <source srcset="img/service-4.avif" type="image/avif">
            <source srcset="img/service-4.webp" type="image/webp">
            <img loading="lazy" src="img/service-4.jpg" class="services-list__img" alt="Herbs">
          </picture>
        </div>
        <a class="services-list__item-bottom" href="#">
          <h3 class="title-s services-list__item-title">
            Herbs
          </h3>
          <svg class="services-list__item-icon">
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </a>
      </li>
      <li class="services-list__item">
        <div class="services-list__item-inner">
          <picture>
            <source srcset="img/service-5.avif" type="image/avif">
            <source srcset="img/service-5.webp" type="image/webp">
            <img loading="lazy" src="img/service-5.jpg" class="services-list__img" alt="Fertilizer">
          </picture>
        </div>
        <a class="services-list__item-bottom" href="#">
          <h3 class="title-s services-list__item-title">
            Fertilizer
          </h3>
          <svg class="services-list__item-icon">
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </a>
      </li>
      <li class="services-list__item">
        <div class="services-list__item-inner">
          <picture>
            <source srcset="img/service-6.avif" type="image/avif">
            <source srcset="img/service-6.webp" type="image/webp">
            <img loading="lazy" src="img/service-6.jpg" class="services-list__img" alt="Soil & Admendments">
          </picture>
        </div>
        <a class="services-list__item-bottom" href="#">
          <h3 class="title-s services-list__item-title">
            Soil & Admendments
          </h3>
          <svg class="services-list__item-icon">
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </a>
      </li>
      <li class="services-list__item">
        <div class="services-list__item-inner">
          <picture>
            <source srcset="img/service-7.avif" type="image/avif">
            <source srcset="img/service-7.webp" type="image/webp">
            <img loading="lazy" src="img/service-7.jpg" class="services-list__img" alt="More">
          </picture>
        </div>
        <a class="services-list__item-bottom" href="#">
          <h3 class="title-s services-list__item-title">
            And More
          </h3>
          <svg class="services-list__item-icon">
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
