// base
$font-family: 'Raleway', sans-serif;
$content-width: 1170px;
$container-offset: 15px;
$container-width: calc(#{$content-width} + (#{$container-offset * 2}));

// colors
$black-color: #000;
$second-black-color: #202020;
$white-color: #fff;
$brand-color: #386641;
$yellow-color: #ffd401;
$strong-color: #a9d16a;
$input-bg: #dadada;
$footer-copy-bg: #454751;

